.container {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.buttonSeparator {
  margin-right: 4px;
}

.searchContainer {
  width: 300px;
  margin-bottom: 24px;
  align-self: flex-end;
}

.cardSeparator {
  margin-bottom: 50px;
}

.cardExtra {
  display: flex;
}