.container {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.buttonSeparator {
  margin-right: 4px;
}

.addCategoryButton {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardExtra {
  display: flex;
}

.searchContainer {
  width: 300px;
  align-self: flex-end;
}

.buttonSeparator {
  margin-right: 4px;
}