.container {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.buttonSeparator {
  margin-left: 4px;
}

.searchContainer {
  width: 300px;
  margin-bottom: 24px;
  align-self: flex-end;
}