.container {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.buttonSeparator {
  margin-right: 4px;
}

.searchInput {
  width: 300px;
}
.addProductButton {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardExtra {
  display: flex;
}