.layoutContainer {
  min-height: 100vh;
  max-height: 100vh;
}
.header {
  padding: 0px;
}
.toggleMenuIcon {
  color: white;
  font-size: 24px;
  margin-left: 24px;
}
.content {
  overflow: scroll;
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
}